###  Assignment 2 Solution

In [10]:
import mysql.connector
import re

# Step 1: Read mbox.txt file
with open('mbox.txt', 'r') as file:
    data = file.read()

# Step 2: Extract Email Addresses
email_addresses = re.findall(r'From \S+@(\S+)', data)

# Step 3: Count Emails Per Organization
counts = {}
for domain in email_addresses:
    counts[domain] = counts.get(domain, 0) + 1

# Step 4: Update the MySQL Database
mysql = mysql.connector.connect(host='localhost',
                               user='root',
                               passwd='1234', 
                               database='assignment2')

cur = mysql.cursor()
cur.execute('DROP TABLE IF EXISTS Counts')
cur.execute('CREATE TABLE IF NOT EXISTS Counts (org VARCHAR(255), count INT)')

for org, count in counts.items():
    cur.execute('INSERT INTO Counts (org, count) VALUES (%s, %s)', (org, count))

### The program on mbox.txt upload the resulting database file in CREATE TABLE Counts (org TEXT, count INTEGER)

### Now the data has been stored in table Counts. To see the data, run the below command

In [11]:
# Retrieve and print the counts
cur.execute('SELECT org, count FROM Counts')
print('''Table COUNTS
------------
Org | Count
------------''')
for org, count in cur.fetchall():
    print(f"{org} {count}")

mysql.commit()
mysql.close()

Table COUNTS
------------
Org | Count
------------
uct.ac.za 6
media.berkeley.edu 4
umich.edu 7
iupui.edu 8
caret.cam.ac.uk 1
gmail.com 1

# Answer